@import url('https://fonts.googleapis.com/css2?family=Saira:ital,wght@0,100..900;1,100..900&display=swap');
@import "tailwindcss";

body{
    background-color: #111827;
    color: #fff;
    font-family: "Saira", sans-serif;

}
@theme {
  --color-primary: #111827;
  --color-secondary: #14b8a6;
  --color-accent: #f97316;
}

/* Optional: Dark mode variables */
.dark {
  --color-primary: #818cf8;
  --color-secondary: #2dd4bf;
  --color-accent: #fb923c;
}
.btn {
    background-color: #f97316;
    width: 5.5rem;
   height: 2.5rem;
    border-radius: 5px;
    font-weight: bold;
     border: 01px solid;
       display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     transition: background-color 0.3s ease, color 0.3s ease;
    
    
}


.btnTransparent {
   border: 01px solid;
    width: 5.5rem;
    height: 2.5rem;
    border-radius: 5px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
     transition: background-color 0.3s ease, color 0.3s ease;
}


.typewriter {
  overflow: hidden;
  border-right: 0.15em solid #818cf8;
  white-space: nowrap;
  width: 0;
  animation: 
    typing 3.5s steps(20, end) forwards, /* typing stays visible */
    blink-caret .6s step-end 5;}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 27ch;  /* Length of your text */
  }
}

@keyframes blink-caret {
  from, to {border-color: transparent;}
  50% {
    border-color: #818cf8;
  }
}